[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/shellinthecloud/.blogstrap
ExecStart=/usr/bin/gunicorn --bind unix:blog.sock wsgi:application
